:root {
  --background-color: #FDFDEF;
  --accent-color: #852291;
}

@font-face {
    font-family: 'Cormorant';
    src:  url('../fonts/Cormorant-Regular.woff2') format('woff2'),
          url('../fonts/Cormorant-Regular.woff') format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: 'Cormorant';
    src:  url('../fonts/Cormorant-Bold.woff2') format('woff2'),
          url('../fonts/Cormorant-Bold.woff') format('woff');
    font-weight: bold;
    font-display: swap;
  }
  @font-face {
    font-family: 'Cormorant';
    src:  url('../fonts/Cormorant-Italic.woff2') format('woff2'),
          url('../fonts/Cormorant-Italic.woff') format('woff');
    font-style: italic;
    font-display: swap;
  }

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
    background: #c5a028 linear-gradient(to right, #D4AF37 0%, #C5A028 100%);
    font-family: Cormorant;
    margin: 2px 0 2px 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.4;
}

.wrapper {
    background: var(--background-color);
}

figure {
  margin: 0 0 2rem 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p {
  margin-top: 0;
}

a {
  color: #000;
  border-bottom: 1px solid var(--accent-color);;
  text-decoration: none;
}

h2 {
  font-size: 1.2rem;
  margin: 1em 0;
}

h3 {
  font-size: 1rem;
  margin: 1.5em 0 0.5rem 0;
}

blockquote {
  text-align: center;
  margin: 0;
}

hr {
  border: 0;
  background: url("../images/hr.svg") center no-repeat;
  height: 35px;
  margin: 3em 0;
}


.small {
  font-size: 0.8rem;
}

/* Grid */
.grid {
  display: flex;
  margin-bottom: 2em;
}
.column {
  flex: 1;
  padding: 0 20px;
}
.single-column {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 20px;
}




@media (max-width: 445px) {
  .grid {
    display: block;
  }
}

header, main, .footer-inner {
  max-width: 784px;
  margin: 0 auto;
}

header {
  margin: 2em auto;
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  width: 100%;
}
header a {
  border-bottom: 1px solid transparent;
}
header .nav-left, header .nav-right {
  flex: 1
}
header .nav-left {
  text-align: right;
}
header .nav-left a {
  margin-right: 1em;
}
header .nav-right a {
  margin-left: .7em;
}
header a:hover {
  border-color: #000;
}
header a.logo, header a.logo:hover {
  border: none;
}
header img {
  width: 118px;
  height: 63px;
}

main {
  margin-bottom: auto;
}

.post {
  max-width: 640px;
  padding: 0 20px;
}

footer {
  background: var(--accent-color);
  text-align: center;
  color: var(--background-color);
  padding: 30px;
  margin-top: 2em;
}

footer a {
  color: var(--background-color);
  border-bottom: 1px solid transparent;
}
footer a:hover {
  border-color: var(--background-color);
}

.footer-nav {
  list-style-type: none;
  margin: 0 0 1em 0;
  padding: 0;
}

.copyright {
  font-size: 1em;
  padding-top: 0.5em;
  display: block;
}

/* WYISWYG */
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
img.align-center {
  display: block;
  margin: 0 auto;
}
img.align-right {
  float: right;
}
img.align-left {
  float: left;
}

/* Styles */
.shadow {
  box-shadow: -4px 8px 16px rgba(0, 0, 0, 0.2);
}
